@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300&display=swap');

.labelText {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
}
