.Card {
  width: 100%;
  height: 100vh;
  background-image: url('https://github.com/sedhha/gzb-products/blob/main/public/funfuse/bg-03.jpg?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  backdrop-filter: opacity(20%);
}
