@import '../root.scss';
.LogoHeight {
  height: 10rem;
  width: auto;
  padding: 0 1rem;
}

.ActionIcon {
  font-size: 2.5rem;
  color: #192751;
}
.ActionIconLarge {
  font-size: 3rem;
  color: #192751;
}
.TagLine {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: -1.5rem;
  padding: 0 1rem;
}

.ButtonText {
  font-size: 1.5rem;
  color: #192751;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/*------------------------------After Figma Design Classes----------------------*/
.MobileLayout {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 920px;
  border: 2px solid #ccc;
}
