@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.image-container {
  width: 100%;
  height: 8rem;
  position: relative;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

/* ==========================================================================
   Icons Customization [moduleName-icons-iconName]
   ========================================================================== */

.funfuse-icons-email {
  -webkit-mask: url('/funfuse/icons/funfuse-email.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-email.svg') no-repeat center;
}
.funfuse-icons-lock {
  -webkit-mask: url('/funfuse/icons/funfuse-lock.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-lock.svg') no-repeat center;
}
.funfuse-icons-name {
  -webkit-mask: url('/funfuse/icons/funfuse-name.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-name.svg') no-repeat center;
}
.funfuse-icons-calendar {
  -webkit-mask: url('/funfuse/icons/funfuse-calendar.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-calendar.svg') no-repeat center;
}
.funfuse-icons-man {
  -webkit-mask: url('/funfuse/icons/funfuse-man.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-man.svg') no-repeat center;
}
.funfuse-icons-woman {
  -webkit-mask: url('/funfuse/icons/funfuse-woman.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-woman.svg') no-repeat center;
}

.funfuse-icons-other {
  -webkit-mask: url('/funfuse/icons/funfuse-other.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-other.svg') no-repeat center;
}

.funfuse-icons-home {
  -webkit-mask: url('/funfuse/icons/funfuse-home.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-home.svg') no-repeat center;
}

.funfuse-icons-messages {
  -webkit-mask: url('/funfuse/icons/funfuse-messages.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-messages.svg') no-repeat center;
}

.funfuse-icons-mentorship {
  -webkit-mask: url('/funfuse/icons/funfuse-mentorship.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-mentorship.svg') no-repeat center;
}

.funfuse-icons-events {
  -webkit-mask: url('/funfuse/icons/funfuse-events.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-events.svg') no-repeat center;
}

.funfuse-icons-connects {
  -webkit-mask: url('/funfuse/icons/funfuse-connects.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-connects.svg') no-repeat center;
}

.funfuse-icons-warning {
  -webkit-mask: url('/funfuse/icons/funfuse-warning.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-warning.svg') no-repeat center;
}

.funfuse-icons-edit {
  -webkit-mask: url('/funfuse/icons/funfuse-edit.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-edit.svg') no-repeat center;
}

.funfuse-icons-cross {
  -webkit-mask: url('/funfuse/icons/funfuse-cross.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-cross.svg') no-repeat center;
}

.funfuse-icons-down {
  -webkit-mask: url('/funfuse/icons/funfuse-down.svg') no-repeat center;
  mask: url('/funfuse/icons/funfuse-down.svg') no-repeat center;
}

/* ------------------------Custom Scrollbar------------------------ */
funfuseScrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

funfuseScrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.3);
}

funfuseScrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* -----------------------Toggle Button--------------------------- */
.funfuseToggleButtonClass input:checked ~ .dot {
  transform: translateX(100%);
  // background-color: #48bb78;
}
